.app-container{
  min-width: 1500px;
}

h2{
  color: #fff;
}

.projects{
  margin-left: 300px;
}

.default-label{
  margin-left: 600px;
  margin-top: 200px;
}

.main-container{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.left-container{
  color: black;
  margin-left: 400px;
  padding: 20px;
  border-right: 1px dashed red;
}

.left-container div{
  background-color: #fff;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

.left-container div span{
  display: block;
  background-color: red;
}

.right-container{
  position: absolute;
  margin-left: 600px;
  padding: 20px;
  position: fixed;
}

img{
  margin-left: 15px;
  width: 80px;
  height: 80px;
}

img:hover{
  cursor: pointer;
}

/* table{
  min-width: 700px;
  border: 1px solid white ;
  align-items: left;
} */

td{
  /* border-right: 1px solid white ;
  border-top: 1px solid white ; */
  padding: 10px;
  border: 1px solid;
}

.joke-container{
  display: block;
  margin-left: 300px;
}

.joke-container p{
  background-color: #404040;
  min-height: 30px;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
  overflow: hidden;
}

.joke-container button{
  margin-left: 300px;
}

.selected-project{
  border: 2px solid green;
}

.dog-container{
  display: block;
  margin-left: 300px;
}

.dog-img{
  margin: auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}